/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #fff;
}

a {
    color: #b11b4d;
}

a:hover {
    color: #dc3588;
}

h1 {
    font-family: 'Spartan', sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
}

h3 {
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

h4 {
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    font-weight: 800;
}

h5 {
    font-family: 'Spartan', sans-serif;
    font-size: 24px;
}

h6 {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    font-weight: 800;
}
/*
.btn {
    padding: 5px 20px;
    font-size: 14px;
    border: 0px !important;
    color: #fff !important;
    background-color: #b11b4d !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default,
.btn:before,
.btn:after,
.btn:focus,
.btn::selection,
.btn.btn-primary:hover,
.btn.btn-primary:before,
.btn.btn-primary:after {
    color: #fff !important;
    border: 0px solid #ccc !important;
    background: rgb(12, 190, 152) !important;
}

.btn-group.filter-options .btn.btn--primary {
    background: none !important;
    color: #7b605b !important;
    border-bottom: 5px solid #b11b4d !important;
    margin: 0 5px;
    padding: 10px 30px;
    font-size: 18px;
}

*/


/* Bootstrap Buttons Start */

.wrapper.btn{
    padding: 0px;
    border: 0px;
}

.wrapper.btn a{
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    position: relative;
    transition: all .35s;
    padding:7px 12px;
    border: 0px;
    background: #b11b4d;
}

.wrapper.btn.big a{
    font-size: 14px;
    padding: 10px 17px;
}

.wrapper.btn a span{
    position: relative;
    z-index: 2;
}

.wrapper.btn a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FF4081;
    transition: all .25s;
}

.wrapper.btn a:hover{
    color: #fff;
    background: none !important;
}

.wrapper.btn a:hover:after{
    width: 100%;
}

.wrapper.btn:hover,
.wrapper.btn:before {
    background: none !important;
}

/* Bootstrap Buttonn Ends*/

/* Shuffle Tabs Start */
.wrapper.btn.tab {
    border-bottom: 5px solid #c00;
    color: #5d6d77;
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px !important;
}

.wrapper.btn.tab:hover {
    border-bottom: 5px solid #FF4081 !important;
    color: #FF4081 !important;
}

.wrapper.btn.tab.active {
    border-bottom: 5px solid #FF4081 !important;
    color: #FF4081 !important;
    background: none !important;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 0%);
}
/* Shuffle Tabs Ends */

.concert .btn {
    text-align: left;
    margin: 7px 0 0 0;
    font-size: 12px;
    clear:both;
}

.codeContainer.shuffle .btn {
    padding: 0.75em 0.8em;
    font-size: 12px;
}

.btn.btn-primary:hover,
.btn-primary:hover,
.btn:hover {
    color: #fff !important;
}

.navbar li,
.navbar li+li {
    margin-top: 0px;
}

.navbar-nav li.nav-item {
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    padding: 0 0 10px 0 !important;
    margin: 0 30px;
}

.navbar-nav li a:hover {
    text-decoration: none;
}

.navbar-nav li:hover {
    border-bottom: 5px solid #fff !important;
}

.videoContainer {
    padding: 150px 0 150px 0;
    float:left; 
    width: 100%;
}

.navbar-brand {
    width: 600px;
    padding: 60px 4% 75px 4%;
}

.navbar-brand img {
    width: 100%;
}
.navbar {
    position: absolute;
    z-index: 1000;
    top: 0px;
    width: 100%;
    background: #000;
    padding: 0;
    margin-top:-30px;
}


.navbar-collapse {
    background: #fff;
    width: 100%;
    padding: 0px;
    margin-top:0px;
}

.lavendar {
    background: url("https://jky.graphics/UMG/assets/img/img-position.jpg") no-repeat 0 0 #d4c9c7;
    background-size: 100vh;
    background-attachment: fixed;
    padding: 70px;
}


.lavendar h2,
.concert h2,
.card-body h2,
h2.infiniteScroll {
    text-shadow: 5px 0px 40px #d4c9c7;
    font-size: 32px;
    margin-bottom: 25px;
    color:#241310;
}

.lavendar h2.rightText {
    text-align: left;
    padding-left: 7%;
}


.bg-light {
    background: none !important;
    background: url("https://jky.graphics/UMG/assets/img/bg-topGrad.png") repeat-x !important;
}

.venue {
    background: url("https://jky.graphics/UMG/assets/img/bg-green.jpg") 50%;
    background-size: cover;
    background-attachment: fixed;
    padding: 70px;
}

.venue .code {
    background: rgba(255, 255, 255, 0.7);
}


.concert {
    padding: 70px;
    background: #d4c9c7;
}

.card-title {
    padding: 10px 10px 5px 10px;
    margin:0px;
}

.nav-item a {
    padding: 0px;
    color: #FF4081 !important;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.6vw;
    text-shadow: 5px 0px 30px #000;
    padding-bottom: 15px;
}

.nav-item:hover {
    border: 0px !important;
    color: #fff !important;
    border-bottom: 0px solid #fff !important;
} 

.navbar-light a {
   color: #fff;
}


.navbar-light .navbar-toggler-icon.collapse {
    background: url("https://jky.graphics/UMG/assets/img/menu-mobile.png") no-repeat;
}

.navbar-light .navbar-toggler {
    color: #FF4081;
    position: absolute;
    top: 30px;
    right: 4%;
}

.carousel-control-prev {
    color: #fff;
    width: 10%;
}

.carousel-control-next {
    color: #fff;
    width: 10%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    opacity: 1;
}


.navbar-nav {
    margin: o auto;
    float:none;
}

.collapse  {
    border: 0px solid #c00;
    text-align: center;
    background: none;
}

.me-auto {
    padding: 40px 0;
    margin-left: auto !important;
    margin-right: auto !important;
}


.code--left {
    float: none;
    border: 0px solid #c00;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.clearDiv {
    clear:both;
    height: 0px;
}

.codeContainer {
    width: 100% !important;
    padding-top: 120px;
    padding-bottom: 120px;
}

.codeContainer.shuffle {
    padding-top: 90px;
}


.code {
    width: 100% !important;
    max-width: 1440px;
    border: 0px solid #c00;
    margin:0px auto;
    height: auto;
    background: none;
    padding:0px;
}

.banner {
    border: 0px solid #000;
    float:left;
    width: 100%;
    padding-bottom: 100px;
}


.banner .card-body {
   padding: 50px 0;
}

.highcharts-container {
    border:10px solid #e8e8e8;
    padding: 0px;
    margin: 0px 25px; 
    min-height: 300px;
}

.highcharts-root {
    background: #fff;
}

._ngcontent-esq-c16 {
    background: #000;
    height: 300px !important;
}

.highcharts-root,
.highcharts-background,
.highcharts-plot-background {
    height: 300px !important;
}

.card {
    border: 0px solid #000;
    float:left;
    background: none;
}

.card-body {
    margin: 10px;
    padding:0px 0 20px 0;
}

.concert .card-body {
    background: #fff;
}


.card-body p {
    margin: 0px;
    padding:5px 20px 20px 20px;
}

.carousel-item {
    border: 0px solid #c00;
    height: 100vh;
}

.carousel h5 {
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 5px 0px 30px #000;
    line-height: 100%;
    opacity: .7;
    margin-bottom:0px;
    padding-bottom:0px;
    color: #fff;
}

.carousel p {
    margin-top:0px;
    padding-top:0px;
    font-size: 3vw;
    font-weight: 400;
    text-align:left;
    text-shadow: 5px 0px 30px #000;
    line-height: 100%;
    opacity: .7;
}

#carousel1 {
    background: url("https://www.billboard.com/wp-content/uploads/2020/03/ariana-grande-grammys-2020-ap-u-billboard-1548-1584374324.jpg?w=1024.") no-repeat center;
    background-size: cover;
}

#carousel2 {
    background: url("https://www.giantfreakinrobot.com/wp-content/uploads/2020/04/arianagrande-scaled.jpeg") no-repeat center;
    background-size: cover;
}

#carousel3 {
    background: url("https://assets.teenvogue.com/photos/5c4dfec99eeaf112b818b929/16:9/w_2560%2Cc_limit/lede-3.jpg") no-repeat center;
    background-size: cover;
}

.carousel-caption {
    top:40%;
}

.d-block {
    display: flex !important;
}

.codeContainer.concert.Ad {
    background: #000;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
}

.codeContainer.concert.Ad .card {
    display: contents;
}

.codeContainer.concert.Ad p {
    margin:0px;
    padding: 0px;
    text-align: center;
    float:none;
    width: 100%
}

.codeContainer.concert.Ad p img {
    width: 100%
}

.codeContainer.bannerAd img {
    border: 4px solid #c00;
    height: 200px !important;
}

h1.quote {
    font-size: 46px;
    font-style: italic;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    text-shadow: 5px 0px 60px #000;
    background: url("https://jky.graphics/UMG/assets/img/mask.png") no-repeat 50% 0;
    padding-top: 150px;
    margin-top:-15px;
}


h2.author {
    font-size: 24px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    color: #fff;
    font-weight: 23;
    text-shadow: 5px 0px 20px #000;
    margin-bottom: 100px;
}

#track {
    width: 100%;
    font-size: 14px;
}

.trackContainer {
    text-align: left;
    float:left;
    border: 5px solid #e8e8e8 !important;
}

.trackInnerContainer {
    margin: 0px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #e8e8e8;
    min-height: 75px;
}

.trackIcon {
    border: 0px solid #c00;
    float:left;
    margin-right: 10px;
}

.trackIcon img {
    width: 100%;
    width: 150px;
    height: 75px;
}

.banner img.trackIcon {
    width: 300px;
}

.trackDesc {
    font-weight: bold;
    float:left;
    display: contents;
}

.trackDesc a, .trackDesc a:visited {
    display:block;
    padding: 10px 10px 2px 10px;
    line-height: 130%;
    color: #b11b4d;
}

.trackDesc a:hover {
    color: #FF4081;
}


.trackLink {
    padding: 2px 10px 2px 0px;
}

.trackDuration {
    font-size: 12px;
    padding: 2px 10px 3px 0px;
    font-weight: 400;
}

.chartContainer {
    min-height: 250px;
    border: 0px solid #c00;
    float:left;
}

.tourContainer {
    background: url("https://cdn.wallpapersafari.com/82/94/VltAuj.jpg") no-repeat;
    background-size: cover;
    min-height:600px;
}

.card-title {
    text-transform: uppercase;
    margin: 15px 0 0 0;
    padding: 5px 0 0 20px;
    width: 35%;
    float:left;
    text-align:left;
    font-size: 2.5vw;
    font-weight: 800;
    color: #241310;
}

.concert .card-title {
    line-height: 80%;
}

.concert .card-body p {
    font-size: 12px;
    width: 60%;
    float:left;
    text-align: left;
    border-left: 1px solid #ccc;
    margin: 10px 0 0 0 !important;
    padding: 0 10px 0 20px;
    margin: 0;
}

.shuffle {
    background: #fff;
    margin: 15px;
}

.shffle figure {
    padding: 15px !important;
    text-align: center;
}

.my-shuffle-container {
    border: 0px solid #c00;
    min-height: 500px;
}

.shuffle img {
    width: 80% !important;
    float:none;
    margin: 0 auto;
}

#masonry,
.row.grid,
.container {
    width: 100% !important;
    max-width: 100%;
    padding: 0px !important;
}


.picture-item {
    height: auto !important;
    padding-bottom: 75px;
    margin: 0;
}

.grid {
    background:#fff !important;
  }
      
  .rounded.overflow-hidden.box-img {
    background:#fff !important;
  }

.merchCell {
    border: 0px solid #c00;
    float:left;
    text-align: center;
}

.merchName {
    font-size: 20px;
    font-weight: 600;
}

.codeContainer.shuffle .merchName {
    font-size: 14px;
}

.merchPrice {
    font-size: 32px;
    font-weight: 600;
    color: #882c59;
    padding-bottom: 0px;
}

.merchImage {
    margin: 0 auto;
}

.infiniteScroll {
    text-align: center;
    margin-top: -100px;
}

.viewAll {
    padding: 35px 0 0 0;
    clear:both;
    font-size: 16px;
    font-weight: 500;
}

.banner .card-title {
    color: #7b605b;
    margin-top:0px;
    margin-bottom:10px;
    width: 100%;
    text-align:center;
    font-weight: 700;
}

.venue h3 {
    color: #7b605b;
    text-transform: uppercase;
}

.venue p {
    font-size: 16px;
    font-weight: 600;
}


.dates {
    font-size: 1.5vw;
    display:block;
}

.location {
    display:block;
    font-size: 16px;
    text-transform: uppercase;
    color: #FF4081;
}

.musicContainer {
    background: url("https://cloud.rtl.it/RTLFM/News/Article/1000x1000/ariana-grande-il-dpts-dopo-l-attentato-di-manchester-xgpmw.jpeg") no-repeat;
    background-size: cover;
    min-height:600px;
}

.merchContainer {
    background: url("https://media.them.us/photos/5ca3be09fcaa6b7dd92779e5/master/pass/ariana-grande_bisexual.jpg") no-repeat;
    background-size: cover;
    min-height:600px;
}

@media screen and (max-width: 992px) {
    .card-title {
        font-size: 4vw;
    }

    .dates {
        font-size: 2.4vw;
    }
    
    .navbar-collapse {
        margin-top: -160px;
    }

    .codeContainer  {
        padding-left: 5%;
        padding-right: 5%;
    }

    .lavendar {
        padding-left: 5%;
        padding-right: 5%;
    }

    #track,
    div#track,
    .trackDesc,
    .trackDesc a,
    .trackContainer {
        font-size: 18px !important;
    }

    .trackLink {
        padding: 2px 10px 2px 0px;
        font-weight: 26px;
    }
    
    .trackDuration {
        font-size: 14px;
        padding: 2px 10px 3px 0px;
        font-weight: 400;
    }

    .col-3\@md {
        width: 50% !important;
    }
    .collapse  {
        background: #fff;
    }

    .container-fluid {
        padding-right: var(--bs-gutter-x,.0rem);
        padding-left: var(--bs-gutter-x, 0rem);
    }

    .navbar-brand {
        width: 400px;
        padding: 50px 4% 75px 4%;
    }
    
    .nav-item a, .nav-item:hover {
        text-align: center !important;
        font-size: 24px !important; 
       color: #FF4081  !important; 
        text-shadow: 5px 0px 30px #fff;
     }

    .navbar-toggler {
        top: 60px;
    }

    .navbar-light .navbar-toggler {
        color: #FF4081;
        position: absolute;
        top: 60px;
        right: 4%;
    }

    .navbar-light .navbar-toggler-icon {
        background: none;;
    }

    .navbar-toggler-icon {
        background: url("https://jky.graphics/UMG/assets/img/menu-mobile.png") no-repeat !important;
        margin-top: 5px;
    }
    
    .navbar-toggler.collapse {
        background: url("https://jky.graphics/UMG/assets/img/menu-mobile-x.png") no-repeat;
    }

    .highcharts-container {
        width: 90% !important;
    }

    .highcharts-root, .highcharts-background, .highcharts-plot-background {
        width: 100% !important;
    }

    .lavendar h2.rightText {
        padding-top: 100px;
        text-align: center;
        text-align: center;
        padding-left: 0%;
    }
}

@media screen and (max-width: 768px)  {
    .card-title {
        font-size: 6vw;
    }

    .dates {
        font-size: 3.6vw;
    }

    .codeContainer  {
        padding-left: 5%;
        padding-right: 5%;
    }

    .col-3\@md {
        width: 100% !important;
    }

    .collapse  {
        background: #fff;
    }

    .nav-item a {
        font-size: 24px !important; 
        text-shadow: none;
    }

    .d-none {
        display: block !important;
    }

    .carousel h5 {
        font-size: 13vw;
    }
}

@media screen and (max-width: 576px) {
    .card-title {
        font-size: 5vw;
    }

    .dates {
        font-size: 3vw;
    }

    .codeContainer  {
        padding-left: 5%;
        padding-right: 5%;
    }
    .collapse  {
        background: #fff;
    }

    .nav-item a {
        font-size: 24px !important; 
    }

    .navbar-brand {
        width: 320px;
    }

    .wrapper.btn.tab {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
